@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Red+Rose:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.container{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.grid{
    padding: 10px;
    border: 1px solid grey;
    color: white;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.grid div{
    padding: 50px;
    background-color: #fff;
    margin:50px;
}
.grid div li{
    list-style-type:none;
    background-color: #fff;
    color: black;
    line-height: 30px;
    font-family: "Lilita One";
    text-transform:capitalize ;
    font-size: 20px;
    font-weight: 500;
}


