@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 214, 255,1);
    background: linear-gradient(to right, #e2e2e2 , #c9d6ff);
    border: 0.2px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(40px);
}

.container{
    width: 400px;
    height: 500px;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 9px;
    display: block;
    background-color: #fff;
    background:transparent;
}

.input{
    margin: 10px auto;
}
input{
    border: none;
    appearance: none;
    width: 320px;
    height: 40px;
    background-color: #f2f2ff;

    border-radius: 20px;
    padding: 0px 17px;
    outline: none;
    margin: 5px auto;
}

.data h1{
    font-size: 32px;
}


input:focus::placeholder{
    color: transparent;  
      
}

input::placeholder{
    color: #222;
    font-family: "Poppins" ,sans-serif;
    transition: color 0.3s ease;
}

h4 a{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 50px;
}

h4 a{
    text-decoration: none;
    color: rgba(22, 22, 26, 0.5);
    margin-bottom: 18px;
}

.loginbtn,.registerbtn{
    position: absolute;
    transform: translate(-50%,-50%);
    width:320px;
    height: 35px;
    font-size: 15px;
    padding: 6px 15px;
    border-radius: 15px;
    border: 0.5px solid white;
    background-image: linear-gradient(63deg, rgba(192,16,185,1) 29%, rgba(16,0,255,1) 100%, rgba(16,0,255,1) 100%) ;
    color: white;
    margin: 3px auto;
}

.registerbtn{
   position: absolute;
   bottom: 55%;
}

.click-btn{
    position: relative;
    height: 200px;
}
.logo{
    width: auto;
    height: 110px;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 100px;
    aspect-ratio: 1/1;
    padding-top: 10px;
    padding-bottom: 10px;
    border-image: none;
    border-radius: 50%;
}

.data{
    position: relative;
}
.login-page , .sign-up-page{
    position: absolute;
    top: 0;
    left: 8%;
    height: 100%;
    text-align: center;
    transition: all 0.6s ease-in-out;
}

.login-page .input, .sign-up-page .input{
    height: 150px;    
    transition: all 0.6s ease-in-out;

}

.login-page h1{
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.sign-up-page{
    margin-right: 50px;
}
.sign-up-page h1{
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1;
}

.sign-up-page .input{
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
    transition: all 0.6s ease-in-out;

}

.container.active .sign-up-page h1{
    transform: translateX(0);
    opacity: 1;
    transition: all 0.6s ease-in-out;

}


.container.active .sign-up-page input{
    transform: translateX(0);
    opacity: 1;
    transition: all 0.6s ease-in-out;

}

.container.active .sign-up{
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
    transition: all 0.6s ease-in-out;

}

.container.active .login-page h1{
    transform: translateX(100%);
    transition: all 0.6s ease-in-out;

}
@keyframes move {
    0% , 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50% , 100%{
        opacity: 1;
        z-index: 5;
    }
}

.container.active .login-page .input{
    transform: translateX(-200%);
    transition: all 0.6s ease-in-out;

}

.container.active .sign-up-page .input{
    transform: translateX(0);
    opacity: 1;
    transition: all 0.6s ease-in-out;

}